In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import chi2
import scipy

In [4]:
data= pd.read_csv("r4z1.csv")
data

        X     Y
0   122.0  81.3
1   114.4  80.8
2   124.5  84.1
3   123.9  76.2
4   118.3  76.8
..    ...   ...
95  116.8  79.0
96  119.6  83.0
97  123.1  79.3
98  126.3  80.3
99  117.6  81.6

[100 rows x 2 columns]

 степ свободы = (r-1)*(s-1) = 36
 
 
 
alpha = 0.01

Cкр = 11.52

In [5]:
data.describe()

                X           Y
count  100.000000  100.000000
mean   119.862000   80.815000
std      4.262066    2.854038
min    109.500000   73.100000
25%    116.975000   78.975000
50%    119.800000   80.800000
75%    123.200000   82.400000
max    128.600000   89.500000

In [6]:
a_value, a = [np.histogram(data['X'], [-10000, 116.05, 118, 119, 120, 122, 124.05, 10000])[i].tolist() for i in range(2)]
a_value, a

([17, 18, 9, 9, 14, 11, 22],
 [-10000.0, 116.05, 118.0, 119.0, 120.0, 122.0, 124.05, 10000.0])

In [7]:
b_value, b = [np.histogram(data['Y'], [-10000, 78.05, 79.66, 81.3, 82.94, 83.7, 84.05, 10000])[i].tolist() for i in range(2)]
b_value, b

([14, 20, 25, 19, 6, 4, 12],
 [-10000.0, 78.05, 79.66, 81.3, 82.94, 83.7, 84.05, 10000.0])

In [8]:
def check_in_arr(data, x0, x1, y0, y1):
    kol=0
    for i in range(data.shape[0]):
        if data['X'][i]>=x0 and data['X'][i]<x1 and data['Y'][i]>=y0 and data['Y'][i]<y1:
            kol+=1
    return kol
check_in_arr(data, a[0], a[1], b[0], b[1])

4

In [9]:
arr_kol=[]
for i in range(7):
    arr = []
    for j in range(7):
        arr.append(check_in_arr(data, a[i], a[i+1], b[j], b[j+1])) 
    arr_kol.append(arr)
arr_kol

[[4, 4, 4, 2, 1, 1, 1],
 [0, 5, 4, 5, 3, 0, 1],
 [2, 3, 2, 0, 0, 0, 2],
 [4, 0, 0, 1, 1, 0, 3],
 [1, 2, 5, 3, 1, 0, 2],
 [2, 3, 3, 3, 0, 0, 0],
 [1, 3, 7, 5, 0, 3, 3]]

In [10]:
n_x = a_value
n_y=b_value
n_y

[14, 20, 25, 19, 6, 4, 12]

In [11]:
T=0
for i in range(7):
    for j in range(7):
        T+=(100*arr_kol[i][j] - n_x[i]*n_y[j])**2/(100*n_x[i]*n_y[j])
T

44.30378413991858

In [12]:
chi2, prob, df, expected = scipy.stats.chi2_contingency(arr_kol)
output = "test Statistics: {}\ndegrees of freedom: {}\np-value: {}\n"

print(output.format( chi2,  df, prob))

test Statistics: 44.30378413991859
degrees of freedom: 36
p-value: 0.1612399431386124

принимаем