In [1]:
import pandas as pd
import numpy as np

data=pd.read_csv('r3z1.csv')
n = data.shape[0]
n

27

In [6]:
data

           X
0   1.121763
1   0.410394
2  -1.105093
3  -0.237961
4  -0.036615
5  -0.741228
6  -1.118543
7  -0.589522
8  -0.526379
9  -0.194501
10 -5.449310
11  4.638559
12 -2.468724
13  3.577469
14  1.920357
15 -6.980880
16  1.302467
17  0.304151
18 -0.330375
19  0.481513
20 -0.197562
21 -1.774937
22 -1.568815
23  3.727212
24 -0.546937
25  0.759157
26  2.590143

In [4]:
new_data=np.abs(data)
sigm=np.sum(new_data)/n #оценка параметра 
sigm

X    1.655577
dtype: float64

In [29]:
def log_fun(data=new_data, sigm=sigm):
    return -(n*np.log(2*sigm)) - (np.sum(new_data)/sigm)

In [30]:
log_fun()

X   -59.327006
dtype: float64

In [32]:
-2*np.sum(new_data)/(sigm**3) + n/(sigm**2) #Проверка 2ой производной

X   -9.850658
dtype: float64