In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('r3z2.csv')
n=data.shape[0]
n

35

In [3]:
data.describe()

               X
count  35.000000
mean   11.931429
std     5.476247
min    -2.800000
25%     8.600000
50%    13.100000
75%    15.600000
max    22.100000

X    5.476247
dtype: float64

In [4]:
st_error = data.std()/np.sqrt(n-1)
st_error

X    0.939169
dtype: float64

In [ ]:
t=2.457