In [ ]:
import numpy as np
import pandas as pd
import seabors as sns
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv("r1z1.csv")
data

In [11]:
#1
#Обьем выборки 
data.shape

(87, 1)

In [4]:
data.describe()
#min=116.5 max=126.3  среднее = 121 станд.откл=2.29

                X
count   87.000000
mean   121.008046
std      2.290030
min    116.500000
25%    119.000000
50%    121.200000
75%    122.300000
max    126.300000

In [ ]:
#размах
data.max() - data.min()

X    9.8
dtype: float64